/* About det css code ------------------------ */

.about-det-comp {
  position: relative;
  width: 100%;
  height: 25rem;
  z-index: 10;
  background: url("../images/customImg/about-bg-img.jpg") no-repeat center
    center/cover;
}

.about-det-comp:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #0e4e51 35.66%, #0e4e5139);
  opacity: 0.4;
  /* 0e4e51 */
  z-index: -1;
}

.about-det-text-bx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 25rem;
  z-index: 10;
}

.about-container {
  max-width: 80rem;
  margin: 0 auto;
}

.about-link-bx {
  display: flex;
  align-items: center;
}

.about-link-bx a,
.about-link-bx span {
  font-size: 1.55rem;
  color: #fdc400;
  font-family: "Caveat", cursive;
  letter-spacing: 0.5px;
}
.about-link-bx a span {
  color: #fdc400;
  padding-inline: 0.4rem;
}

.about-link-bx span {
  color: #006940;
}

.about-det-text-bx h3 {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  margin-top: 1.2rem;
}

/* ____________________________ About Offer Comp Css code
-------------------- */

.about-offer-comp {
  position: relative;
  width: 100%;
  padding-block-start: 7rem;
  padding-block-end: 4rem;
  padding-inline: 1.7rem;
  background-color: #fff;
  z-index: 8;
}

.about-offer-grid {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 5rem;
}

.left-about-main-img {
  position: relative;
  width: 100%;
}

.about-offer-img {
  position: relative;
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-offer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-about-offer-info-bx {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.right-about-offer-info-bx span {
  font-size: 1.65rem;
  font-family: "Caveat", cursive;
  color: #0e4e51;
  font-weight: 700;
  margin-bottom: 1rem;
}

.right-about-offer-info-bx h2 {
  font-size: 3.3rem;
  color: #042a2c;
  margin-bottom: 1.5rem;
}

.about-offer-prof-grid-bx {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 3rem;
  margin-bottom: 1.2rem;
}

.abt-off-prof-bx {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.abt-off-prof-bx:nth-child(1):before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 0.1rem;
  height: 90%;
  background-color: #eee;
}

.abt-off-prof-bx .a-check-bx {
  font-size: 0.7rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: #fec91b;
  display: grid;
  color: #fff;
  place-items: center;
  margin-bottom: 1rem;
}

.abt-off-prof-bx h4 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #006940;
  margin-bottom: 1rem;
}

.abt-off-prof-bx p {
  font-size: 1rem;
  width: calc(100% - 30%);
}

.right-about-offer-info-bx .a-para {
  max-width: 35rem;
  margin-bottom: 1.87rem;
}

.about-user-main-bx {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.about-user-img {
  position: relative;
  padding: 0.4rem;
  border: 0.1rem dotted #fec91b;
  border-radius: 50%;
}
.about-user-img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.about-user-info h6 {
  font-size: 1.45rem;
  font-weight: 800;
  color: #083335;
}

.about-user-info span {
  font-size: 1.23rem;
}

.img-right-text-bx {
  position: absolute;
  top: 48%;
  background-color: #006940;
  right: -17.87rem;
  transform: translateY(-50%) rotate(90deg);
  padding: 1.5rem 1rem;
  width: 110%;
  text-align: center;
}

.img-right-text-bx h6 {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1.4px;
}

.img-right-text-bx h6 span {
  color: #fec91b;
}

.about-container2 {
  max-width: 70rem;
  margin: 0 auto;
}

.main-a-para {
  margin-top: 3rem;
}

.abou-round-bx {
  position: absolute;
  top: -10rem;
  right: -11rem;
  width: 40rem;
  height: 50rem;
  background-color: #006940;
  opacity: 0.05;
  border-bottom-left-radius: 30rem;
  border-top-left-radius: 20rem;
  transform: rotate(0);
  z-index: 1;
}

@media all and (min-width: 767px) and (max-width: 1024px) {
  .about-offer-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-offer-img {
    height: 60rem;
    width: 75%;
    margin: 0 auto;
  }

  .img-right-text-bx {
    right: -15.5rem;
    width: 70%;
  }

  .about-offer-prof-grid-bx {
    width: 100%;
  }

  .right-about-offer-info-bx .a-para {
    max-width: 100%;
    font-size: 1.65rem;
  }

  .abt-off-prof-bx p {
    font-size: 1.65rem;
    line-height: 1.6;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .about-offer-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-offer-img {
    height: auto;
    width: 100%;
    margin: 0 auto;
  }

  .img-right-text-bx {
    /* right: -15.5rem;
        width: 70%; */
    display: none;
  }

  .about-offer-prof-grid-bx {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .abt-off-prof-bx:nth-child(1):before {
    display: none;
  }

  .right-about-offer-info-bx h2 {
    font-size: 2.87rem;
  }
  .right-about-offer-info-bx .a-para {
    max-width: 100%;
    font-size: 1.65rem;
  }

  .abt-off-prof-bx p {
    font-size: 1.65rem;
    line-height: 1.6;
  }

  .abt-off-prof-bx h4 {
    font-size: 1.67rem;
  }
}
