
/* ______________________________
 Admin products css code
 ------------------------- */

 .all-prod-admin-comp{
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
    padding-right: 1.5rem;
 }

 .top-prod-filter-flex-box  {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .breadcrum-main-box{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
 }

 .breadcrum-main-box h6{
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    color: #0ea5e9;
    letter-spacing: .4px;
 }

 
 .breadcrum-main-box h6:before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: .1rem;
    height: 100%;
    background-color: #7e7e7e;
    right: -.6rem;
 }

 .breadcrum-main-box h6:last-child:before{
    display: none;
 }

 .breadcrum-main-box h6:nth-child(1){
    color: #212121;
 }

 .breadcrum-main-box h6 span{
    color: #3e3d3d;
 }

 .right-prod-search-flex-bx{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
 }

 .right-all-prod-search-box{
    position: relative;
    width: 13rem;
    height: 2.5rem;
    border: .1rem solid #ddd;
    border-radius: .45rem;

 }

 .right-all-prod-search-box input{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding-inline: 1rem;
    font-weight: 500;
    color: #3e3d3d;
    letter-spacing: .45px;
    background-color: transparent;
    border-radius: .45rem;
    border: none;
 }

 .right-all-prod-search-box input::placeholder{
    color: gray;
    font-weight: 400;
 }

 .search-prod-btn{
    position: relative;
    width: max-content;
    padding: .15rem .87rem;
    background-color: transparent;
    border: .1rem solid #0ea5e9;
    font-size: .87rem;
    letter-spacing: .5px;
    color: #0ea5e9;
    font-weight: 500;
    border-radius: .5rem;
 }

 .all-prod-filter-flex-box-two{
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
 }

 .all-prod-sel-apply-flt-box{
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
 }

 .all-prod-sel-filt-box{
    position: relative;
    width: 8rem;
    height: 2.5rem;
    border-radius: .45rem;
    border: .1rem solid #ddd;
    background-color: #fff;
    padding-inline: .4rem;

 }

 .all-prod-sel-filt-box select{
    width: 100%;
    height: 100%;
    background-color:transparent;
    font-size: .9rem;
    font-weight: 500;
    color: #3f3f3f;
    letter-spacing: .5px;
    cursor: pointer;

 }

 .prod-filt-btn{
    position: relative;
    width: max-content;
    padding: .1rem 1.1rem;
    background-color: #fff;
    border: .1rem solid #0ea5e9;
    color: #0ea5e9;
    font-size: .95rem;
    font-weight: 500;
    border-radius: .45rem;

 }

 .left-all-prod-filt-sel-flex-box{
    position: relative;
    display: flex;
    align-items: center;
    gap: .76rem;
 }

 .all-prod-sel-filt-box2{
    width: 10rem;
 }

 .right-all-prod-paginat-flex-box{
    position: relative;
    display: flex;
    align-items: center;
    gap: .76rem;
 }

 .items-num p{
    margin-bottom: 0;
    font-size: .9rem;
    letter-spacing: .56px;
    font-weight: 500;
    color: #3e3d3d;
 }

 .page-filt-btn{
    position: relative;
    width: 2rem;
    height: 2.2rem;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    color: #474747;
    cursor: pointer;
    transition: 300ms ease;
    border: .1rem solid #e6e6e6;

 }

 .page-filt-btn:hover{
    border-color: #0ea5e9;
    background-color: #fff;
    color: #0ea5e9;
 }

 .page-num-box{
    position: relative;
    width: 2rem;
    height: 2.2rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1rem solid #ddd;
 }

 .right-all-prod-paginat-flex-box p{
    margin-bottom: 0;
    font-size: .9rem;
 }

 .right-all-prod-paginat-flex-box p span{
    font-size: .87rem;
 }

 .page-filt-btn3 i{
    animation: none ;
 }

 .all-prod-table-comp{
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    padding-inline-end: 1.5rem;
 }

 .all-prod-table-comp table  {
    position: relative;
    width: 100%;
    overflow-x: auto;

    
 }

 .all-prod-table-comp table thead tr th{
    font-size: 1rem;
    padding: .4rem .5rem;
    background-color: #0ea5e9;
    color: #fff;
    font-weight: 500;
    letter-spacing: .56px;
 }

 .form-check-box{
    position: relative;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border: .1rem solid #ddd;
    border-radius: .2rem ;
    cursor: pointer;
    z-index: 2;
 }

 .checkactive.form-check-box:before{
    content : "\f00c";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: .7rem;
    color: #3e3d3d;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    border-radius: .2rem;
 }

 .prod-imge{
    position: relative;
    width: 1.87rem;
    height: 1.87rem;
 }

 .prod-imge img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
 }

 .all-prod-table-comp table tbody tr td{
    padding: .5rem .4rem;
 }

 .all-prod-table-comp table tbody tr{
    background-color: #fff;

 }

 
 .all-prod-table-comp table tbody tr:nth-child(2n + 2){
    background-color: #f2fbff;
 }

 .all-prod-table-comp table tbody tr td span{
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .45px;
 }

 
 .all-prod-table-comp table tbody td i{
    color: #464646;
    font-size: .9rem;
 }

 .price-prod-text{
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 0;
    flex-direction: column;
 }

 .price-prod-text span{
    display: inline-block;
    line-height: 1.5;
 }

 .price-prod-text span:nth-child(1){
    text-decoration: line-through;
 }

 .prod-edit-bin-vw-flx-box{
    display: flex;
    align-items: center;
    gap: .5rem;
 }
 
 .prod-edit-bin-vw-flx-box span{
    position: relative;
    display: inline-block;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .5px;
    color: #0ea5e9;
 }

 .prod-edit-bin-vw-flx-box span:before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -.3rem;
    width: .1rem;
    height: 50%;
    background-color: #c5c5c5;
 }

  
 .prod-edit-bin-vw-flx-box span:nth-child(1){
    color: #9e9d9d ;
 }

 .prod-edit-bin-vw-flx-box span:nth-child(3){
    color: red;
 }

 /* _______________________---- admin order css code */

 .ord-sta-btn{
    position: relative;
    font-size: .9rem ;
    font-weight: 500 ;

 }

 .ord-sta-btn.ordstaactive{
    color: #0ea5e9 !important;
 }

.all-prod-table-comp table tbody tr td .biling-text{
    width: 15rem;
    white-space: wrap;
    line-height: 1.4;
    font-size: .9rem;
    margin-bottom: 0;
}

.det-ord-btn{
    position: relative;
    width: max-content;
    padding: .15rem .87rem;
    background-color: #0ea5e9  ;
    border-radius: .4rem;
    color: #fff;
    font-weight: 500;
    font-size: .9rem;

}

.bilng-text-2{
    color: rgb(155, 154, 154);
    
}
 