

.frenchies-prof-view-comp{
    position: relative;
    width: 100%;
    padding-right: 1rem;
}

 .title{
    font-size: 1.65rem;
    margin-bottom: 1.5rem;
    letter-spacing: .5px;
    font-weight: 700;
    color: #000248;
    margin-top: 1rem;
}

.french-prof-edit-btn{
    position: absolute;
    top: .5rem;
    right: 1.5rem;
    font-size: 1.3rem;
    color: #1362fc;
}

.french-card-box{
    cursor: pointer;
}

.french-card-box .left-card-info p{
    font-size: .9rem;
}

.french-rev-comp{
    position: relative;
    width: 100%;
    padding-inline-end: 1.5rem;
    padding-inline-start: 1rem;
}

.french-rev-grid{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 2rem;
}

.rench-rev-box{
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 1.4rem 1.4rem;
    border-radius: .55rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.french-rev-img{
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    margin-top: -2.87rem;
    margin-bottom: 1rem;
}

.french-rev-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.french-rev-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.french-rev-info h6{
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .5px;
    color: #000248;
}

.french-rev-info span{
    font-size: .9rem;
}

.stars-flex{
    display: flex;
    align-items: center;
    gap: .1rem;
}

.stars-flex i{
    font-size: .9rem;
    color: orangered;
}

.apnt-text{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: .9rem;
}

.french-appoint-comp{
    padding-inline-end: 1.3rem;
}

.french-appoint-box{
    background-color: transparent !important;
}

.french-appoint-table-box table thead tr th{
    background-color: #0ea5e9;
}

.french-appoint-table-box table tbody tr{
    background-color: #fff !important;
}

.french-appoint-table-box table tbody tr:nth-child(2n + 1){
    background-color: #f3fbff !important;
}

.status-btn-changed3{
    background-color: transparent;
    border: .1rem solid #0ea5e9;
    color: #0ea5e9;
}

.status-btn-changed3:hover{
    background-color: #0ea5e9;
    color: #fff;
}

.cust-add-bx3 p{
    margin-bottom: 0;
    line-height: 1.5;
}

.cust-add-bx3 p span{
    font-weight: 700;
    padding-right: .5rem;
}

.appoint-flex-btns{
    display: flex;
    align-items: center;
    gap: .65rem;
}

.appoint-flex-btns button i{
    font-size: 1.1rem;
}

.appoint-flex-btns button .fa-calendar-days{
    color: #0ea5e9;
}

.appoint-popup-info2 h6{
    font-size: 1rem;
    font-weight: 600;
    color: #000248;
}

.assign-appoint-form{
    margin-top: 1rem;
    padding-inline: 1.87rem;
    margin-bottom: 1rem;
}

.assign-inpt-bx{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .65rem;

}

.assign-inpt-bx label{
    font-size: 1rem;
    color: #000248;
}

.assign-inpt-bx input{
    position: relative;
    width: 100%;
    height: 3rem;
    font-size: .9rem;
    font-weight: 600;
    color: #000248;
    background-color: transparent;
    border: .1rem solid #ddd;
    border-radius: .5rem;
    padding-inline: 1rem;
}

.appoint-btn{
    margin-top: 1rem;
    position: relative;
    width: max-content;
    padding: .4rem 1rem;
    font-size: .95rem;
    font-weight: 500;
    color: #0ea5e9;
    background-color: transparent !important;
    border: .1rem solid #0ea5e9;
    border-radius: .55rem;

}

.comn-appoint-btn1{
    background-color: transparent;
    color: #43cf7f;
    border:.1rem solid  #43cf7f;
}

.comn-appoint-btn2{
    background-color: transparent;
    color: #0ea5e9;
    border:.1rem solid  #0ea5e9;
}

.comn-appoint-btn3{
    background-color: transparent;
    border: .1rem solid #ffa500;
    color: #ffa500;
}


.comn-appoint-btn1:hover , 
.navigate-link-btn5:hover{
    background-color: #43cf7f;
    color: #fff;
}
.comn-appoint-btn2:hover{
    background-color: #0ea5e9;
    color: #fff;
}
.comn-appoint-btn3:hover{
    background-color: #ffa500;
    color: #fff;
}

.navigate-link-btn5{
    background-color: transparent;
    border: .1rem solid #43cf7f;
    color: #43cf7f;
    border-radius: .5rem;
}

.appnt-stats{
    font-size: .9rem;
}

.appnt-stats.appntstatactive{
    color: #ffa500 !important;
}

button:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #0002485f; */
    z-index: -1;
}

.admin-login-comp2{
    flex-direction: column;
}

.choose-your-plan-main-bx{
    /* position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50% , -50%); */
    padding: 2rem 2rem;
    /* background-color: #eff7ff; */
    background-color: #fff;
    width: 33rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* display: none; */
}

.choose-your-plan-main-bx.choseplanactive{
    display: flex;
}

.choose-your-plan-main-bx h6{
    font-size: 1.3rem;
    color: #000248;
    font-weight: 700;
    letter-spacing: .65px;
    margin-bottom: 1rem;
}

.chose-plan-flex-bx{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.3rem;
}


.chose-plan-flex-bx button{
    position: relative;
    width: max-content;
    padding: .4rem 1.87rem;
    background-color: transparent;
    color: #1362fc;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .56px;
    border-radius: .5rem;
    transition: 500ms ease;
    border: .1rem solid #1362fc;
}


.chose-plan-flex-bx button:hover{
    background-color: #1362fc ;
    color: #fff;
}

.numbr-wast-colect-bx p{ 
    font-size: 1rem;
    letter-spacing: .5px;
    color: #000248;
    font-weight: 600;
    margin-bottom: 1rem;
}

.waste-colect-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.waste-colect-btn button{
    width: max-content;
    padding: .3rem 1.2rem;
    text-align: center;
    background-color: transparent;
    border: .1rem solid #000248;
    font-weight: 600;
    color: #000248;
}

.pay-nw-btn{
    margin-top:2rem;
    position: relative;
    width: max-content;
    padding-inline: 2rem;
    background-color: #1362fc;
    border-color: #1362fc;
}

.pay-nw-btn:hover{
    color: #1362fc;
}

.price-show-bx{
    margin-top: 1.65rem;
}

.price-show-bx p{
    margin-bottom: 0;
    font-size: 1.1rem;
    letter-spacing: .76px;
    color: #000248;
}

.numbr-wast-colect-bx{
    display: none;
}

.numbr-wast-colect-bx.numbwasteactive{
    display: block !important;
}



 
.admin-login-comp2.frenchLoginActive .thank-u-box{
    display: none ;

}

 
.admin-login-comp2.frenchLoginActive .frenchies-login-parent-box{
    display: none;
}

.admin-login-comp2.frenchLoginActive .choose-your-plan-main-bx{
    display: flex;
}

.french-login-main.mainfrenchloginactive .choose-your-plan-main-bx ,
.french-login-main.mainfrenchloginactive  .frenchies-login-parent-box {
        display: none;
}

.french-login-main.mainfrenchloginactive .thank-u-box{
    display: flex;
}

.admin-login-comp2{
    align-items: center;
    justify-content: center;
    background-color: #f3fbff;
    z-index: 100;



}

.admin-login-main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: .3rem;
    background-color: #f3fbff;
    /* z-index: 100; */

}

.admin-login-main5{
    z-index: 100;
}

.frenchies-thanks-main{
    position: relative;
    width: 35rem;
    height: max-content;
}

.admin-login-main3 {
    width: 100%;
    height: max-content;
}

.admin-login-fild{
    position: relative;
    width: 100%;
}

.admin-login-fild input{
    width: 100%;
}

.forgot-newpasswrd-thanksmessage-mainbx{
    width: 100%;
}


 .admin-login-comp2:before , .admin-login-main5:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/customImg/login-bg-01.jpg')no-repeat center center/cover;
    z-index: -1;
}

.admin-login-main5:after ,  .admin-login-comp2:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.75;
    z-index: -1;
}


.admin-login-form {
    position: relative;
    width: 35rem;
    height: max-content;
    margin: 0 auto;
    padding: 1rem 2rem 1rem 2rem;    
    margin-top: 0;
    border-radius: .55rem;
    gap: .5rem;
    background-color: #fff;

}


.frenchies-singup-box{
    max-height: 100% !important;
}

.french-signup-form-bx{
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: .5rem;
}

.frenchies-signup-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-bottom: 2.5rem;
    
}

.admin-form-btn4 {
    width: 15rem;
    margin: 0 auto;
}



.verify-otp-box{
    position: relative;
    width: 30rem;
    background-color: #fff;
    padding: 1.87rem 1.87rem;
    border-radius: .67rem;
}

.select-area-flex-bx{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.area-btn{
    display: flex;
    align-items: center;
    gap: .45rem;
}

.form-check-area{
    transform: translateY(2.5px);
}

.form-check-area input:focus-within{
    box-shadow: none;
    border-color: #ddd;
}

.area-btn label{
    font-size: 1rem;
    color: #000248;
}

.choose-your-plan-main-bx{
    border-radius: .67rem;
    width: 39rem;
    padding: 2rem 1rem;

}

.assign-btn{
    position: relative;
    width: max-content;
    padding: .1rem .76rem;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .45px;
    background-color: transparent;
    border: .1rem solid #1362fc;
    color: #1362fc;
    border-radius: .55rem;
    transition: 500ms ease;
}

.assign-btn:hover{
    background-color: #1362fc;
    color: #fff;
}

.indivd-main{
    position: relative;

}

.select-area-main-bx{
    display: none;
}


.select-area-main-bx.selctareaactive{
    display: flex;
}

.addnew-work-btn{
    position: relative;
    width: max-content;
    height: 2.76rem;
    background-color: #fff;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.03);
    color: #0ea5e9;
    border-radius: .5rem;
    font-size: .87rem;
    font-weight: 500;
    letter-spacing: .5px;
    padding-inline: 1rem;
    transition: 500ms ease;
}

.addnew-work-btn:hover , 
.addnew-work-btn.addworkactive{
    background-color: #0ea5e9;
    color: #fff;
}

.add-work-comn-comp{
    position: relative;
    width: 100%;
    padding-inline-end: 1.4rem;
    padding-inline-start: .5rem;
    padding-block: 2rem;
}

.add-work-btn-flex-bx{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.add-work-btn-comn{
    border: .1rem solid #0ea5e9;
}

.edit-remv-btns{
    display: flex;
    align-items: center;
    gap: .76rem;
}

.edit-remv-btns button:first-child{
    color: #1362fc;
}


.edit-remv-btns button:last-child{
    color: #ff0000;
}

.add-work-area-edit-comp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.add-work-area-edit-comp:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000000;
    opacity: 0.6;
}

.add-work-area-edit-main-bx{
    position: relative;
    width: 60rem;
    background-color: #fff;
    border-radius: .55rem;
    padding: 2rem 2rem;
}

.add-work-area-edit-main-bx h6{
    text-align: center;
}

.addwrkarea-form-bx{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.add-work-area-btn{
    position: relative;
    width: max-content;
    padding: .3rem 2.5rem;
    background-color: #fff;
    border: .1rem solid #1362fc;
    color: #1362fc;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .5px;
    margin: 2rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    transition: 500ms ease;
}

.add-work-area-btn:hover{
    background-color: #1362fc;
    color: #fff;
}

.close-add-work-bx-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.45rem;
    color: #ff0000;
    cursor: pointer;
}

.addnew-work-btn2:hover  , .addnew-work-btn2.addworkactive{
    background-color: #43cf7f;

}

.add-work-btn-comn2{
    border: .1rem solid #43cf7f;
    color: #43cf7f;
}

.add-work-btn-comn2:hover{
    background-color: #43cf7f;
    color: #fff;
}

input[type="number"]{
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button , 
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none ;
    margin: 0;
}

.add-amount{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 1.1rem;
    color: #000000;
}

.admin-login-main-loginonly{
    width: 35rem;
    background-color: #fff;
    height: max-content;
    border-radius: .5rem;
}

.admin-login-main-loginonly .admin-login-form{
    width: 100%;
    padding: 0 0;
}

.buy-waste-btn{
    position: relative;
    width: max-content;
    padding: 0 1.45rem;
    height: 2.67rem;
    border-radius: .55rem;
    color: #ffa500;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .4px;
    background-color: transparent;
    border: .1rem solid #ffa500;
    transition: 500ms ease;
}

.buy-waste-btn:hover{
    background-color: #ffa500;
    color: #fff;
}

.buy-waste-popup-comp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-waste-popup-comp:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.67;
    z-index: -1;
}

.buy-waste-bx{
    position: relative;
    width: 40rem;
    background-color: #fff;
    border-radius: .5rem;
    padding: 2rem 2rem;
}

.buy-waste-bx h6{
    text-align: center;
    font-size: 1.4rem;
    color: #000000;
    letter-spacing: .5px;
    margin-bottom: 1.5rem;
}

.waste-inpt-field{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.waste-inpt-field label{
    position: relative;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
}

.waste-inpt-field input{
    position: relative;
    width: 100%;
    border: .1rem solid #ddd;
    border-radius: .5rem;
    background-color: #fff;
    height: 2.76rem;
    padding-inline: 1rem;
    font-weight: 500;
    letter-spacing: .56px;
    font-size: 1rem;
}

.user-infor-main{
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.user-information{
    margin-bottom: 1.5rem;
}

.user-information p{
    margin-bottom: 0;
    font-size: 1rem;
    letter-spacing: .56px;
    font-weight: 600;
    color: #000000;
}

.user-info-flex-btn{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hist-btn{
    background-color: #ffa500;
    color: #fff;
}

.hist-btn:hover{
    background-color: transparent;
    color: #ffa500;
}

.close-popup-btn{
    cursor: pointer;
}


.buy-waste-table-comp{
    position: relative;
    width: 100%;
    margin-top: 2rem;
}

.buy-waste-table{
    position: relative;
    width: 100%;
    padding-inline-end: 1.5rem;
    border-collapse: collapse;
    white-space: nowrap;
    overflow-x: auto;

}

.buy-waste-table table{
    position: relative;
    width: 100%;
    overflow-x: auto;
}

.buy-waste-table table thead tr th , 
.vw-hist-table table thead tr th{
    width: max-content;
    height: 3.3rem;
    padding-inline: 1rem;
    background-color: #ffa500;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .67px;
}

.buy-waste-table table tbody tr td{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .5px;
    color: #000000;
    padding-inline: 1rem;
    padding-block: 1rem;
}

.buy-waste-table table tbody tr{
    width: 100%;
}

.buy-waste-table table tbody tr td .prod-img{
    width: 4rem;
    height: 3.76rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: .65rem;
    border-radius: .5rem;
}

.buy-waste-table table tbody tr td img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}

.selt-prod-bx{
    position: relative;
    width: 100%;
    height: 2.76rem;
    background-color: #ffffff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: .45rem;
}

.selt-prod-bx select{
    position: relative;
    width: 12rem;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .5px;
    color: #000000;
    cursor: pointer;
}

.buy-waste-table table tbody tr td input{
    position: relative;
    width: 10rem;
    height: 2.76rem;
    padding-inline: 1rem;
    font-weight: 500;
    font-size: 1rem;
    color: #242424;
    border-radius: .5rem;
    background-color: #fff;

}

.buy-waste-table table tbody tr , 
.vw-hist-table table tbody tr {
    background-color: #fff8ef;
}

.vw-hist-table table tbody tr td{
    padding-inline: 1rem;
}

.vw-hist-table table tbody tr td span{
    color: #000000;
}

.buy-waste-table table tbody tr:nth-child(2n + 2) ,
.vw-hist-table table tbody tr:nth-child(2n + 2) 
{
    background-color: #ffefdb;
}

.amount-total{
    position: relative;
    width: 100%;
    height: 2.76rem;
    background-color: #fff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: .76rem;
}

.add-data-btn{
    position: relative;
    font-size: 1rem;
    color: #1362fc;
    background-color: #fff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delt-data-btn{
    color: #ff0000;
}

.action-flex-btns{
    gap: .56rem;
}

.sub-total-bx{
    margin-top: 2rem;
    margin-inline: 1.5rem;
    width: 20rem;
    margin-left: auto;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: .1rem solid #ffa500;
}

.sub-total-bx h6{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #ffa500;
    font-weight: 700;
    letter-spacing: .45px;
}

.sub-total-bx p{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    font-size: 1.1rem;
    color: #000000;
}

.sub-total-bx p span{
    color: #ffa500;
}

.verified-check i{
    font-size: 1.1rem;
    color: #43cf7f;
    text-align: left;
    justify-content: flex-start ;
    margin-top: .56rem;
}

.waste-hist-box-grid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;

}

.wase-hist-bx{
    position: relative;
    width: 100%;
    background-color: #fff8eb;
    padding: 0 .76rem;
    border-radius: .5rem;
    height: max-content;
    padding-block: 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
}

.wase-hist-bx h6{
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
}

.wase-hist-bx h6 span{
    font-size: .87rem;
}

.wase-hist-bx p{
    font-size: 1rem;
    font-weight: 700;
    color: #000248;
}

.invoice-btn{
    display: flex;
    align-items: center;
    gap: .4rem;
}

.invoice-btn span{
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}

.invoice-btn i{
    cursor: pointer;
    font-size: 1rem;
    color: #000248;
}

.trsnct-table table tbody tr td{
    color: #000000;
    font-weight: 600;
}

.progress-det-flex-box{
    flex-wrap: wrap;
}

.inner-prog-bar4{
    width: 30%;
    background:  linear-gradient(90deg , #0ea5e9 , #1362fc);
}

.admin-secd-grid-box{
    grid-template-columns: 1.67fr 2.5fr;
}

.prog-dot-det-box4{
    background: linear-gradient(90deg, #0ea5e9 , #1362fc);
}

.left-appont-bx{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sel-opt-bx{
    width: 10rem;
    padding-inline: .5rem;
}

.sel-opt-bx select{
    width: 100%;
}

.locntext.locntextdark{
    color: #ffa500 !important; 
    /* color: #1362fc; */
}


/* ________________- our appointment slots 
------------------------------------------------ */

.appoint-slots-comp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.appoint-slots-comp:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.67;
    z-index: -1;

}

.appoint-slots-main-bx{
    position: relative;
    width: 60rem;
    height: 35rem;
    background-color: #fff;
    border-radius: .55rem;
    overflow-y: auto;
    padding: 1.5rem 1rem;
}


.appoint-slots-main-bx h6{
    font-size: 1.65rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #000248;
    font-weight: 700;
    letter-spacing: .5px;
}

.appoint-slot-table table thead tr th{
    background-color: #54be73;
    font-size: .85rem;
    letter-spacing: .5px;
    height: max-content;
    padding: .4rem 1rem 0 1rem;
}

.appoint-slot-table table tbody tr td span{
    color: #797878;
}

.appoint-slot-table table tbody tr{
    background-color: #fff;
}

.appoint-slot-table table tbody tr:nth-child(2n + 2){
    background-color: #fff;
}

.appoint-slot-table table tbody td{
    border-bottom: .1rem solid #d9dadc;
    border-left: .1rem solid #d9dadc;
}

.appoint-slot-table table tbody td:last-child{
    border-right: .1rem solid #d9dadc;
}

.appoint-slot-table table tbody tr td{
    padding-block: .65rem;
}

.assign-btn3{
    height: max-content;
    padding: .01rem 1.2rem;
    border-radius: .2rem;
    border: .1rem solid #54be73;
    color: #54be73;
    font-size: .87rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assign-btn3:hover{
    background-color: #54be73;
}

.slot-text-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
}

.slot-text-flex p{
    margin-bottom: 0;
    line-height: 1;
    font-size: .8rem;
    
}

.assign-flex-bx{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .3rem;
}

.slot-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slot-data span{
    display: inline-block;
    margin-bottom: 0;
    font-size: .87rem;
    line-height: 1.6;
    color: #797878;
}

.close-appoint-btn-bx{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    color: red;
    cursor: pointer;
}

.appoint-det{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 1.87rem;
}

.appoint-det p{
    margin-bottom: 0;
    font-size: .95rem;
    color: #54be73;
}

.appoint-det p span{
    color: #000248;
}


.note-text{
    text-align: center;
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 1rem;
    color: #ff0000;
}

.current-date-bx-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 1.4rem;
}
.current-date-bx-flex p{
    margin-bottom: 0;
    font-size: 1rem;
}

.current-date-bx-flex p span{
    font-weight: 500;
    color: #43cf7f;
}

.select-date-bx{
    position: relative;
    width: max-content;
    height: 2.3rem; 
    background-color: transparent;
    border: .1rem solid #ddd;
    padding-inline: .5rem;
    border-radius: .4rem;
    background-color: #fff;
    margin-right: 2rem;

}

.select-date-bx input{
    width: 100%;
    font-size: .9rem;
    height: 100%;
    font-weight: 500;
    color: #000248;
    background-color: transparent;



}

.select-date-bx:before{
    content: '\f271';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .76rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: .87rem;
    color: #43cf7f;
}


.select-date-bx input::-webkit-calendar-picker-indicator{
    opacity: 0;
}

.comp-refrl-bx{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    padding-inline: .5rem;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.03);
    border-radius: .5rem;
    transition: 400ms ease;
    overflow: hidden;
}

.comp-refrl-bx .comp-icon{
    position: relative;
    font-size: 1.2rem;
    color: #0ea5e9;
    transform: translateX(9px) translateY(2px);
    transition: 400ms ease;

}


.comp-refrl-bx span{
    display: flex;
    gap: .5rem;
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translateY(-50%) translateX(-50%);
    transition: 300ms ease;
    opacity: 0;
    color: #0ea5e9;
    font-weight: 500;
    letter-spacing: .4px;
}

.comp-refrl-bx span i{
    transform: translateY(7px);
}

.comp-refrl-bx:hover{
    width: 10rem;
}

.comp-refrl-bx:hover .comp-icon{
    transform: translateX(4px);
}

.comp-refrl-bx:hover span{
    opacity: 1;
}



.user-det-top-flex-box h6{
    width: max-content;
}

.icon-flex-box{
    justify-content: center;
}

.app-dis-btn i{
    color: #43cf7f;
}

.user-det-top-flex-box4{
    flex-direction: column !important;
}

.ledger-trnsctin-comp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: grid;
    place-items: center;
}

.ledger-trnsctin-comp:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.67;
    z-index: -1;
}

.ledger-trnsctin-main-bx{
    position: relative;
    width: 55rem;
    padding: 1.5rem 2rem;
    background-color: #fff;
    border-radius: .5rem;
}

.ledger-trnsctin-main-bx h5{
    font-size: 1.55rem;
    font-weight: 700;
    letter-spacing: .56px;
    color: #000248;
    text-align: center;
    margin-bottom: 1rem;
}

.trnsctin-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.trnsctin-info h6{
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: .5px;
    color: #000000;
}

.trnsctin-info h6 span{
    color: #1362fc;
}


.trnsctin-table table tbody tr td{
    text-align: center;
}

.inovice-btn{
    cursor: pointer;
    font-size: 1rem;
    color: #54be73;
}

.trans-flex-bx{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-waste-amount-flex-bx{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.total-bx{
    position: relative;
    width: max-content;
    padding-inline: .87rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: #fffaf1;
    padding-block: .25rem;
    border: .1rem solid #fdf2dd;
    border-radius: .4rem;
}

.total-bx h6{
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .35px;
    color: #000248;
}


.total-bx span{
    color: #5e5e5e;
    font-weight: 500;
}

.wallet-payment-sec{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: grid;
    place-items: center;
    display: none;
}

.wallet-payment-sec.walletpaymtactive{
    display: grid;
}

.wallet-payment-sec:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000000;
    opacity: 0.67;
}

.wallet-pay-bx{
    position: relative;
    width: 30rem;
    background-color: #fff;
    border-radius: .5rem;
    padding: 1.5rem 1.5rem;
}

.wallet-pay-bx h6{
    font-size: 1.3rem;
    text-align: center;
    color: #000248;
    font-weight: 700;
    letter-spacing: .45px;
    margin-bottom: 1rem;
}

.wallet-pay-bx p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 600;
    color: #000000;
    line-height: 1;
    
}

.wallet-pay-bx p span{
    color: #1362fc;
    margin-left: .5rem;
}


.confirm-btn{
    margin: 2rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: max-content;
    height: 2.45rem;
    padding-inline: 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1362fc;
    border-radius: .4rem;
    font-weight: 500;
    letter-spacing: .4px;

}

.wallet-pay-bx p:last-of-type{
    font-weight: 800;
}

.today-french-appnt-data thead tr th{
    font-size: .87rem;
    color: #fff;
    font-weight: 500;
    padding: .3rem .87rem;
}

.today-french-appnt-data tbody tr td{
    font-size: .87rem;
    padding-block: .345rem;
    padding-inline: .87rem;
}

.assign-btn2{
    font-size: .76rem;
    height: max-content;
}

.view-all-bx{
    width: 1.87rem;
    height: 1.87rem;
    margin: 1.87rem auto 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1rem solid #797878;
    border-radius: 50%;
    font-size: .9rem;
    color: #797878;
    animation: downup 1s ease-in-out infinite alternate;
}

@keyframes downup {
    0%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(0);
    }
}


.wallet-dropdown-main-bx{
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    left: -13rem;
    width: 19rem;
    background-color: #fff;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: .55rem;
}

.wallet-dropdown-main-bx h5{
    font-size: 1.2rem;
    text-align: left;
    padding: .56rem .56rem;
    font-weight: 600;
    color: #000248;
}

.wallet-search-bx{
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 2.4rem;
    background-color: #fff;
    border: .1rem solid #000248;
    border-radius: .5rem;
    margin-bottom: .5rem;

}

.wallet-search-bx input{
    width: 100%;
    height: 100%;
    font-size: .89rem;
    font-weight: 500;
    background-color: transparent;
    border: none;
    color: #000248;
    padding-inline: 1.76rem;

}

.al-walt-hist-list{
    display: block;
    position: relative;
    width: 100%;
}


.wallet-search-bx:before{
    content: "\f002";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .3rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 1rem;
    color: #0ea5e9;
}

.pyment-info-main{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .76rem;
    padding-inline: .87rem;
    padding-block-start: .78rem;
    padding-block-end: .76rem;
}



.pyment-info-main:last-child{
    margin-bottom: .3rem;
}

.left-name-alpha-bx{
    position: relative;
    width:2.65rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    font-size: 1rem;
    color: #fff;
    background-color: #ff0000;
    border-radius: 50%;
    font-weight: 600;
}

.left-name-alpha-bx2{
    background-color: #1362fc;
    
}

.left-name-alpha-bx3{
    background-color: #54be73;
    
}


.left-name-alpha-bx4{
    background-color: #ffa500;
    
}


.right-payment-bx{
    position: relative;
    width: calc(100% - 3.25rem)
}

.wallet-info-top-bx{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-payment-bx h6{
    font-size: 1rem;
    font-weight: 700;
    color: #000248;
    letter-spacing: .4px;
}

.right-payment-bx span{
    font-size: .87rem;
    display: inline-block;
    font-weight: 700;
    color: #43cf7f;
    margin-bottom: 0;
    line-height: 1;
}

.wallet-info-second-bx p{
    font-size: .75rem;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.7;
    font-weight: 600;
}

.wallet-info-second-bx span{
    color: #9a9a9a;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .4px;
}

.wallet-info-second-bx span i{
    color: #43cf7f;
    margin-left: .4rem;
}

.view-all-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
    gap: .65rem;
    font-size: .8rem;
    letter-spacing: .4px;
    color: #000248;
    font-weight: 600;
    padding: .05rem .78rem;
    border: .1rem solid #ddd;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.wallet-dropdown-main-bx{
    transition: 400ms ease;
    opacity: 0;
    transform-origin: top;
    visibility: hidden;
    pointer-events: none;
    z-index: 100;
    transform: scaleY(0);
}

.wallet-dropdown-main-bx.waletactive{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scaleY(1);
}

.guest-bx{
    position: relative;
    width: 40rem;
    background-color: #fff;
    border-radius: .55rem;
    padding: 2rem 2rem;
}

.guest-bx h6{
    text-align: center;
    font-size: 1.55rem;
    font-weight: 600;
    letter-spacing: .4px;
    color: #000248;
    margin-bottom: 1rem;
}

.guest-grid{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin-bottom: 1rem;
}

.gest-field{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.gest-field label{
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    font-weight: 600;
    letter-spacing: .45px;
}

.gest-field input{
    position: relative;
    width: 100%;
    height: 2.45rem;
    padding-inline: .78rem;
    font-weight: 500;
    color: #000000;
    border: none;
    border: .1rem solid #ddd;
    border-radius: .5rem;

}

.gest-field input:focus-within{
    border-color: #ddd;
}

.otp-btn3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
}

.otp-field-main{
    display: none;
}

.guest-bx.guestactive .otp-field-main{
    display: block;
}

.guest-bx.guestactive .guest-fields-grid ,
.guest-bx.guestactive .confirm-btn3{
    display: none;
}

.left-right-arrow-btn-flex{
    position: relative;
    display: flex;
    align-items: center;
    gap: .55rem;
}

.date-btn{
    position: relative;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border: .1rem solid #43cf7f;
    font-size: .87rem;
    border-radius: .45rem;
    color: #43cf7f;
    transition: 400ms ease;
}

.date-btn:hover{
    background-color: #43cf7f;
    color: #fff;
}

.comp-refrl-bx3 span{
    line-height: 1.4;
    display: inline-block;
    left: 0;
    transform: translateY(-50%) translateX(75%);

}

.comp-refrl-bx3:hover{
    width: 9rem;
}

.comp-refrl-bx4 span{

    transform: translateY(-50%) translateX(25%);
}

.comp-refrl-bx4:hover{
    width: 6rem;

}

.wallet-info-second-bx span{
    font-size: .76rem;
}

.wallet-info-top-bx span i{
    font-size: .65rem;
}

.left-name-alpha-bx2{
    height: 2.67rem;

}

.walet-bx{
    background-color: #f1fbff;
    border: .05rem solid #0ea5e9;
}

.walet-bx-right span{
    color: #0ea5e9;
}

.walet-bx-right2 span i{
    color: #0ea5e9;
}

.walet-bx span{
    color: #0ea5e9;
    font-size: .87rem;
}